*{
    margin: 0;
    padding: 0;
    
}

.header{
   background-color:rgb(54, 221, 221);
    border-style: solid;
    border-color: 1px solid black;
    border-radius: 2px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 10px;
    margin-left: 150px;
    position: relative;
    margin-top: 18px;


}

h3,a{
    text-align: right;
    color: white;
    text-decoration: none;
    
}

h3:hover{
    color: black;
}

img{
    display: inline;
    height: 118px;
    margin-left: 15px;
    float: left;
    
}

.form{
    text-align: center;
}

.formhead{
     color: rgb(46, 46, 224);
     font-family: 'Times New Roman', Times, serif;
     font-size: 25px;
     margin-top: 70px;
}

.formdata{

    margin: 20px;
    font-size: 18px;
    font-weight: 1000;


}

.btn{
    margin-left: 360px;
    word-spacing: 12px;
    
    
    
}

#btn1,#btn2{
    padding: 3px;
    border-radius: 1px;

}

button:hover{
    color: green;
}

